@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/*

verde principal #4C5E1F
verde mais claro #A2B377
verde mais escuro #2C341A
verde-creme claro #F1FFCD
verde-creme mais verde #E5FFA2
verde-creme mais cinza 

*/

body{
    background-color: #4d5f1f;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

section#form{
    background-color: white;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);

    width: 280px;
    height: 500px;
}

section#imagem{
    background-color: darkgrey;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);

    width: 280px;
    height: 500px;
}