@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/*

verde principal #4C5E1F
verde mais claro #A2B377
verde mais escuro #2C341A
verde-creme claro #F1FFCD
verde-creme mais verde #E5FFA2
verde-creme mais cinza 

*/

body{
    background-color: #4d5f1f;
    position: relative;
    width: 100vw;
    height: 100vh;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 70%;

    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}