@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/*

verde principal #4C5E1F
verde mais claro #A2B377
verde mais escuro #2C341A
verde-creme claro #F1FFCD
verde-creme mais verde #E5FFA2
verde-creme mais cinza #D3DEB8

*/

body{
    background-color: #4d5f1f;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

article#login{
    background-color: white;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 500px;

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

article section#imagem{
    background: #4d5f1f url(../imagens/background-pequena.jpg) no-repeat;
    background-size: cover;
    background-position:  100% 50%;
    height: 200px;
    display: block;
}

article section#form{
    padding: 10px;
    display: block;
}

section#form h1{
    text-align: center;
    margin-bottom: 10px;
}

form div.campo{
    color: #2C341A;
    margin: 5px 0px 5px 0px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #A2B377;
    color: #343a26;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #869463;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.685);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 20px;
    background-color: #4b5337;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
}

form > a.botao > i{
    font-size: 0.8em;
}

form > a.botao:hover{
    background-color: #343a26;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.685);
}

